
<h2>Sign me up!</h2>

<% unless locals.empty?%>
  <%= message %>
<% end %>

<form action="/signup" method="post">

<label>Username: </label><input type="text" name="username" id="new_username"></input><br></br>

<label>Email: </label><input type="text" name="email" id="new_email"></input><br></br>


<label>Password: </label><input type="text" name="password" id="new_password"><br></br>


<button type="submit">Sign me up!</button>


</form>

