<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="key, words">
    <meta name="description" content="description">
   <title>Spinner for Discogs</title>
    <style type="text/css">
    </style>
</head>
<body>
  
  <%= yield %>

  <button name="home"><a href="/home">Take me home</a></button>
  <% if logged_in %>
    <button type="submit" name="logout"><a href="/logout">Log me out</a></button>
  <% end %>

</body>
</html>